LogicApps/receive-order/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Response": {
                "type": "Response",
                "kind": "http",
                "inputs": {
                    "statusCode": 200,
                    "headers": {
                        "Content-Type": "text/plain"
                    },
                    "body": "@outputs('Generate_Calculated_Order')"
                },
                "runAfter": {
                    "Generate_Calculated_Order": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Get_Destination_System": {
                "type": "InvokeFunction",
                "inputs": {
                    "functionName": "OrderRouter",
                    "parameters": {
                        "orderLocation": "@triggerBody()?['region']"
                    }
                },
                "runAfter": {}
            },
            "Calculate_Discount": {
                "type": "InvokeFunction",
                "inputs": {
                    "functionName": "CalculateDiscount",
                    "parameters": {
                        "order": "@triggerBody()"
                    }
                },
                "runAfter": {
                    "Get_Destination_System": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Generate_Calculated_Order": {
                "type": "Compose",
                "inputs": "@union(triggerBody(),body('Calculate_Discount'))",
                "runAfter": {
                    "Calculate_Discount": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "orderId": {
                                "type": "string"
                            },
                            "customerId": {
                                "type": "string"
                            },
                            "region": {
                                "type": "string"
                            },
                            "orderDetails": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "productId": {
                                            "type": "string"
                                        },
                                        "productName": {
                                            "type": "string"
                                        },
                                        "quantity": {
                                            "type": "integer"
                                        },
                                        "unitPrice": {
                                            "type": "number"
                                        }
                                    },
                                    "required": [
                                        "productId",
                                        "productName",
                                        "quantity",
                                        "unitPrice"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}